<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Lista de orcamentos</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript"> var data = JSON.parse("<%- summData %>")</script>
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="scripts/script.js"></script>
	</head>
	<body>
        <h1>Lista de orcamentos</h1>
		<p>User: <%= user.nomeUsuario %>&nbsp;&nbsp;Id: <%= user.id %>&nbsp;&nbsp;Id: <%= user.perfil %>&nbsp;&nbsp;<%= Date.now()%></p>
		<table>
			<thead>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
			</thead>
			<tbody>
				<% for (let i=0; i < detalhe.length; i++) {%>
	
				<tr id="tr<%= detalhe[i].id; %>" class="row">
					<td><a href="/detalhe/orcDetalhe/<%= detalhe[i].id; %>"><%= detalhe[i].id; %></a></td>
					<td><a href="/detalhe/clienteDetalhe/<%= detalhe[i].idCliente; %>"><%= detalhe[i].nomeCliente; %></a></td>
					<td><%= detalhe[i].nomeEquip; %></td>
					<td><%= detalhe[i].serialNumber; %></td>
					<td>R$ <%= detalhe[i].valor; %></td>
					<td><a href="/detalhe/userDetalhe/<%= detalhe[i].idUsuario; %>"><%= detalhe[i].nomeUsuario; %></a></td>

					<% if (user.perfil == 'manager') { %>

						<form id='<%= detalhe[i].id%>' action='/approve' method='post' >
							<td>
								<select name='status'>
									<option value="NOVO" <% if (detalhe[i].status == "NOVO") {  %> selected="selected"<% } %>>NOVO</option>
									<option value="APROVADO" <% if (detalhe[i].status == "APROVADO") {  %> selected="selected" <% } %>>APROVADO</option>
									<option value="REJEITADO" <% if (detalhe[i].status == "REJEITADO") {  %> selected="selected" <% } %>>REJEITADO</option>
								</select>	
								<input type='hidden' name='id' value='<%= detalhe[i].id%>'>						
							</td>

					<% } else { %>

							<td><%= detalhe[i].status; %></td>

					<% } %>
					
							<td><%= moment(detalhe[i].dataCriacao).format( 'ddd DD/MM/YYYY HH:mm:ss') ; %></td>

					<% if (user.perfil == 'manager') { %>							

							<td><input type='button' id="sub<%= detalhe[i].id; %>" value="Submit"></td>
						</form>

					<% } %>	

				</tr>
	
				<% } %>
			</tbody>
			<tfoot>
				<tr>
					<td><input type="button" onclick="window.location.href='/home'" value="Home" /></td>
				</tr>
			</tfoot>
		</table>
    </body>
</html>