<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Lista de orcamentos</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript"> var data = JSON.parse("<%- summData %>")</script>
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="scripts/script.js"></script>
	</head>
	<body>
        <h1>Lista de orcamentos</h1>
		<p>User: <%= user.nomeUsuario %>&nbsp;&nbsp;Id: <%= user.id %>&nbsp;&nbsp;Id: <%= user.perfil %>&nbsp;&nbsp;<%= Date.now()%></p>
		<table>
			<thead>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
			</thead>
			<tbody>
				<%	for (let i=0; i < detalhe.length; i++) {%>

				<%-		app.app.models.orcamentos.montaOrc(app, detalhe[i]); %>

				<%	} %>
			</tbody>
			<tfoot>
				<tr>
					<td><input type="button" onclick="window.location.href='/home'" value="Home" /></td>
				</tr>
			</tfoot>
		</table>
    </body>
</html>