<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Lista de orcamentos</title>
	</head>
	<body>
        <h1>Lista de orcamentos</h1>
		<table>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
	
				<% for (let i=0; i < detalhe.length; i++) {%>
	
				<tr>
					<td><a href="/orcDetalhe/<%= detalhe[i].id; %>"><%= detalhe[i].id; %></a></td>
					<td><a href="/clienteDetalhe/<%= detalhe[i].idCliente; %>"><%= detalhe[i].nomeCliente; %></a></td>
					<td><%= detalhe[i].nomeEquip; %></td>
					<td><%= detalhe[i].serialNumber; %></td>
					<td>R$ <%= detalhe[i].valor; %></td>
					<td><a href="/userDetalhe/<%= detalhe[i].idUsuario; %>"><%= detalhe[i].nomeUsuario; %></a></td>
					<td><%= detalhe[i].status; %></td>
					<td><%= detalhe[i].dataCriacao; %></td>

				</tr>
	
				<% } %>
			
			</table>
    </body>
</html>