<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Lista de orcamentos</title>
	</head>
	<body>
        <h1>Lista de orcamentos</h1>
		<p>User: <%= user.nomeUsuario %>&nbsp;&nbsp;Id: <%= user.id %>&nbsp;&nbsp;Id: <%= user.perfil %></p>
		<table>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
	
				<% for (let i=0; i < detalhe.length; i++) {%>
	
				<tr>
					<td><a href="/detalhe/orcDetalhe/<%= detalhe[i].id; %>"><%= detalhe[i].id; %></a></td>
					<td><a href="/detalhe/clienteDetalhe/<%= detalhe[i].idCliente; %>"><%= detalhe[i].nomeCliente; %></a></td>
					<td><%= detalhe[i].nomeEquip; %></td>
					<td><%= detalhe[i].serialNumber; %></td>
					<td>R$ <%= detalhe[i].valor; %></td>
					<td><a href="/detalhe/userDetalhe/<%= detalhe[i].idUsuario; %>"><%= detalhe[i].nomeUsuario; %></a></td>

					<% if (user.perfil == 'manager') { %>

						<form id='<%= detalhe[i].id%>' action='/approve' method='post' >
							<td>
								<select name='status'>
									<option value="NOVO">NOVO</option>
									<option value="APROVADO">APROVADO</option>
									<option value="REJEITADO">REJEITADO</option>
								</select>	
								<input type='hidden' name='id' value='<%= detalhe[i].id%>'>						
							</td>

					<% } else { %>

							<td><%= detalhe[i].status; %></td>

					<% } %>
					
							<td><%= moment(detalhe[i].dataCriacao).format( 'ddd DD/MM/YYYY HH:mm:ss') ; %></td>

					<% if (user.perfil == 'manager') { %>							

							<td><button onclick="this.disabled=true; document.getElementById('<%= detalhe[i].id%>').submit();">Submit</button></td>
						</form>

					<% } %>	

				</tr>
	
				<% } %>

				<tr>
					<td><input type="button" onclick="window.location.href='/home'" value="Home" /></td>
				</tr>
			
			</table>
    </body>
</html>