<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Detalhe de orcamentos</title>
		<link rel="stylesheet" type="text/css" href="/public/css/style.css">
		<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Detalhe de orcamento</h1>
			
			<% for (let i=0; i < detalhe.length; i++) {%>

				<div class="row">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Id</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].id%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Criador</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].nomecriador %>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Cliente</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].nomecliente%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Nome Completo</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].nomecompleto%>" readonly>
					</div>				<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">CNPJ</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].cnpj%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Responsavel</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].responsavel%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Equipamento</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].nomeequip%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Serial Number</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].serialnumber%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Valor</span>
						</div>
						<input type="text" class="form-control" value="R$ <%= detalhe[i].valor*(1-detalhe[i].desconto/100)%>" readonly>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Data de criacao</span>
						</div>
						<input type="text" class="form-control data-exib" value="<%= detalhe[i].datacriacao%>" readonly>
					</div>
					<div class="input-group" id="tr<%= detalhe[i].id %>">
						<div class="input-group-prepend">
							<span class="input-group-text">Status</span>
						</div>

						<% if (user.perfil !== 'usuario') { %>

							<select class="custom-select" name="status">
					
							<% if (detalhe[i].status == "APROVADO") { %>
									
								<option value="NOVO">NOVO</option>
								<option value="APROVADO" selected>APROVADO</option>
								<option value="REJEITADO">REJEITADO</option>

							<% } else if (detalhe[i].status == "REJEITADO") { %>
					
									<option value="NOVO">NOVO</option>
									<option value="APROVADO">APROVADO</option>
									<option value="REJEITADO" selected>REJEITADO</option>
					
							<% } else { %>
					
									<option value="NOVO" selected>NOVO</option>
									<option value="APROVADO">APROVADO</option>
									<option value="REJEITADO">REJEITADO</option>
							<% } %>

							</select>
							<input type="hidden" name="id" value="<%= detalhe[i].id %>">
					
						<% } else { %>
					
							<input type="text" class="form-control" value="<%= detalhe[i].status %>" readonly>
					
						<% } %>

					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Aprovador</span>
						</div>
						<input type="text" class="form-control" value="<%= detalhe[i].nomeaprov%>" id="aprov<%= detalhe[i].id%>" readonly>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Data de Atualização</span>
						</div>
						<input type="text" class="form-control data-exib" value="<%= detalhe[i].dataaprov%>" id="dataapr<%= detalhe[i].id%>" readonly>
					</div>
				</div>
				<div class="row mb-3">		
					<input class="btn btn-success mr-2" type="button" id="sub<%= detalhe[i].id %>" value="Atualizar">
					<% if (detalhe[i].status == "APROVADO") { %>

						<span id="btn-d<%= detalhe[i].id %>"><input class="btn btn-primary" type="button" id="dow<%= detalhe[i].id %>" value="Download"></span>
					<% } else { %>
						
						<span id="btn-d<%= detalhe[i].id %>"></span>
					<% } %>
				</div>
				
			<% } %>
			
			<div class="row">
				<input class="btn btn-info mr-2" type="button" onclick="window.location.href='/home'" value="Home" />
				<input class="btn btn-secondary" type="button" onclick="window.location.href='/listaOrcamentos'" value="Retornar" />
			</div>
		</div>
		<script type="text/javascript" src="/public/scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/public/scripts/jquery-dateformat.min.js" ></script>
		<script type="text/javascript" src="/public/scripts/script.js"></script>
	</body>
</html>