<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Detalhe de usuario</title>
	</head>
	<body>
		<h1>Detalhe de usuario</h1>
		<table>
				<tr>
					<td>Id</td>
					<td>Cliente</td>
					<td>Equipamento</td>
					<td>Serial Number</td>
					<td>Valor</td>
					<td>Responsavel</td>
					<td>Status</td>
					<td>Data de criacao</td>
				</tr>
	
				<% for (let i=0; i < detalhe.length; i++) {%>
	
				<tr>
					<td><%= detalhe[i].id; %></td>
					<td><%= detalhe[i].nomeCliente; %></td>
					<td><%= detalhe[i].nomeEquip; %></td>
					<td><%= detalhe[i].serialNumber; %></td>
					<td>R$ <%= detalhe[i].valor; %></td>
					<td><%= detalhe[i].nomeUsuario; %></td>
					<td><%= detalhe[i].status; %></td>
					<td><%= detalhe[i].dataCriacao; %></td>

				</tr>
	
				<% } %>
			
			</table>
	</body>
</html>